.background-image {
    /* The image used */
    background-image: url("./background.jpg");

    /* Full height */
    height: 90vh;


    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.first-letter::first-letter {
    color: rgb(251, 11, 11);
    font-size: 70px;
    font-weight: 700;
}